.site {
  background-color: #282a36;
}

.position,
.controls {
  display: inline-block;
}
.controls {
  margin-left: 30px;
}

.xyzlabel span {
  margin-left: 60px;
}
.xyzlabel span:first-child {
  margin-left: 120px;
}

.absxyz::before {
  content: "0";
  margin-left: 53px;
}
#ax {
  margin-left: -25px;
}

.inputxyz {
  background: #44475a;
  border-color: transparent;
  border-radius: 5px;
  width: 40px;
  margin-right: 20px;
  color: #909090;
}

h1 span {
  color: #909090;
  padding: 2px 6px;
  background-color: #44475a;
  border-radius: 10px;
}
h3 span {
  color: #909090;
}

.button {
  background-color: #44475a;
  border-color: transparent;
  padding: 0px 7px;
  border-radius: 10px;
  width: 40px;
  height: 40px;
  cursor: pointer;
}
.button path {
  fill: #909090;
}
button:hover {
  background-color: #505364;
}

.fowardbutton {
  margin-left: 44px;
  margin-right: 49px;
}

.leftbutton {
  padding: 0px 9px;
}

.rightbutton {
  padding: 0px 9px;
}

.downbutton {
  margin-left: 5px;
}

.movementspeed,
.inputmovespeed {
  display: inline-block;
  margin-top: 0px;
}
.inputaccel,
.inputstep,
.inputmovespeed {
  background: #44475a;
  border-color: transparent;
  border-radius: 5px;
  width: 40px;
  margin-right: 20px;
  color: #909090;
}

.accel,
.inputaccel {
  display: inline-block;
  margin-top: 0px;
}

.uploadbutton,
.resetbutton {
  background-color: #44475a;
  border-color: transparent;
  padding: 0px 7px;
  border-radius: 10px;
  cursor: pointer;
  color: #909090;
}

.fileupload {
  color: #909090;
  background-color: #44475a;
  border-color: transparent;
  border-radius: 10px;
}